<html>
<head>
    <title> Pagina APP </title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}"> <!-- utiliza o Bootstrap como template --> 
</head>
<body>
    <h1> APP Online!!!</h1>
    {% if user %}  <!-- jinja: para inserir lógica com python --> 
    <p>Bem vindo ao APP Online, {{ user }}!</p>
    {% else %}
    <p>Bem vindo ao APP Online!</p>
    {% endif %} <!-- como o html não é identado, tem que indicar o fim do IF-->

    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

</body>
</html>