{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
<h3>Login</h3>
<form action="" method="POST"> <!--action escpecifica para Onde a informação será enviada. Caso fique em branco, será para o próprio local (pag. Login) -->
    {{ form.csrf_token }} <!--Campo que torna o Formulario Válido-->
    <div class="form-group">
        <label>Usuário</label>
        {{form.username(class="form-control", placeholder="Seu usuário") }}

        {% if form.errors.username %}
        <div class="alert alert-danger" role="alert">
            <ul>
            {% for e in form.errors.username %} <!-- FOR para lista de erros que aparece caso usuario nao preencha campo requerido -->
                <li>{{ e }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Password</label>
        {{form.password(class="form-control", placeholder="Sua senha")}}

        {% if form.errors.password %}
        <div class="alert alert-danger" role="alert">
            <ul>
            {% for e in form.errors.password %} <!-- FOR para lista de erros que aparece caso usuario nao preencha campo requerido -->
                <li>{{ e }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="checkbox">
        <label>
            {{ form.remember_me }} Remember me
        </label>
    </div>
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

</form>
</div>
{% endblock%}